arduino/
.vscode/
Chessboarddetection/
extradata/
ignore/
images/
math/
python/
runs/
stockfish-windows-x86-64-avx2/
__pycache__/
lastv13t1.python
chessboard.python
Calibration.txt
output.mp4
outputv13.mp4
outputv132.mp4
resize.python
serial_control.python
v14best.pt